html, body {
    margin: 0;
  }

.container {
    display: grid;
    grid-template-columns: [col-start] 1fr [col-left] 1fr [col-right] 1fr [col-end];
    grid-template-rows: [row-top] 1fr [row-mid1] 1fr [row-mid2] 1fr [row-bot];
    gap: 10px;
    height: 100vh;
    grid-template-areas:
    "header header ."
    "content content content"
    "footer footer footer"
  }
  
.header {
    grid-column-start: col-start;
    grid-column-end: col-end;
    grid-row-start: row-top;
    grid-row-end: row-mid1;
    background: lightblue;
  }
  
.content {
    grid-column-start: col-start;
    grid-column-end: col-end;
    grid-row-start: row-mid1;
    grid-row-end: row-mid2;
    background: lightpink;
}
  
.footer {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: row-mid2;
    grid-row-end: row-bot;
    background: palegoldenrod;
  }